/* .card_container {
    height: 24vh;
} */

@media screen and (max-width: 575px) {
    .card_container{
        height: 18vh;
    }
}

@media screen and (min-width: 575px) {
    .card_container{
        height: 18vh;
    }
}

@media screen and (min-width: 720px) {
    .card_container{
        height: 20vh;
    }
}

@media screen and (min-width: 1080px) {
    .card_container{
        height: 24vh;
    }
}